body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/446/018/non_2x/white-futuristic-background-free-photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.orbitron-uniquifier{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight:500px;
    font-style: normal;
}

.encabezados h1{
    font-family:"Orbitron";
    font-size: 40px;
    color: rgb(8, 0, 0);
    text-align: center;
    margin: 0%;
    text-shadow: 5px 5px 5px white;
}

.encabezados h2{
    font-family:"Orbitron";
    font-size: 40px;
    color: rgb(10, 0, 0);
    text-align: center;
    text-shadow: 5px 5px 5px white;
}

.controles{
    width:500px;
    height: 930px;
    background-color: transparent;
    margin: auto;
    text-align: center;
    padding: 25px;
    border: solid 10px white;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 12px 12px 20px black;

}

.inputs{
    width: 420px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin: 10px;
    font-size: 15px;
    color: black;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}

.label{
    font-size: 30px;
    font-family:"Orbitron";
    font-weight: 800px;
    text-shadow: 3px 3px 3px white;
}

.label2{
    font-size: 30px;
    font-family:"Orbitron";
    font-weight:800px ;
    text-shadow: 3px 3px 3px white;
}

.select{
    width: 200px;
    height: 28px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.753);
    border: none;
    border-radius: 50px;
    color: white;
}

.Aceptar{
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 50px;
    margin-right: 15px;
    
}

.cancelar{
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

.radio{
    color: white;
}